@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter",sans-serif;
}

:root{
    --main_color:#bfff00;
    --p_color:#8a8a8a;
    --bg_color:#1F1F1F;
    --white_color:#ffffff;
    --black_color:#070707;
    --border-color: rgba(255, 255, 255, 0.1);
}

body{
    background: #131313;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

section{
    padding: 90px 0;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
    font-family: "DM Sans", sans-serif;
}

span{
    color: var(--main_color);
}
p{
    color: var(--p_color);
}



/* btns */

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black_color);
    transition: 0.3s;
}
.btn:hover{
    scale: 1.1;
}

.btn_no_bg{
    color: var(--white_color);
    text-transform: capitalize;
    text-decoration: underline;
    transition: 0.3s;
}
.btn_no_bg:hover{
    color: var(--main_color);
}

.top_section{
    text-align: center;
    margin-bottom: 100px;
}

.top_section h2{
    font-size: 40px;
}

/* Start Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.3s;
    z-index: 1000;
}

header.active{
    background-color: var(--black_color);
    border-bottom: 1px solid #56565694;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header nav .logo img{
    width: 200px;
}
header nav .links{
    display: flex;
    gap: 40px;
}
header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}
header nav .links a:hover{
    color: var(--main_color);
}
header nav .icons{
    display: flex;
    gap: 30px;
}
header nav .icons a{
    color: var(--main_color);
    font-size: 28px;
    transition: 0.3s;
}
header nav .icons a:hover{
    scale: 1.4;
}



/* start hero */

.hero{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .div_Text{
    width: 50%;
}
.hero .div_Text h4{
    color: var(--p_color);
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 75px;
}
.hero .div_Text h1{
    font-size: 55px;
    margin-top: 50px;
}
.hero .div_Text h2{
    font-size: 40px;
    font-weight: normal;
    line-height: 0.9;
    margin-top: 20px;
}
.hero .div_Text p{
    margin: 30px 0;
    font-size: 18px;
    width: 80%;
    line-height: 1.7;
}
.hero .btn{
    font-size: 20px;
    padding: 18px 50px;
}
.icons .div_img{
    width: 40%;
}
.hero .div_img{
    width: 40%;
    position: relative;
    border-radius: 0 0 600px 600px;
    overflow: hidden;
}
.hero .div_img .bg_img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* start about */

.About .container{
    background: var(--bg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 50px;
    padding: 50px;
}


.About .div_text h5{
    color: var(--p_color);
    font-size: 18px;
    text-transform: capitalize ;
}

.About .div_text h2{
    font-size: 45px;
    margin: 25px 0 5px ;
}

.About .div_text h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.About .div_text p{
    line-height: 1.8;
}

.About .div_text ul{
    display: flex;
    color: var(--white_color);
    margin: 30px 0 20px;
    flex-wrap: wrap;
}

.About .div_text ul li{
    width: 45%;
    font-weight: bold;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.About .div_text ul li i{
    color: var(--main_color);
}

.About .div_text img{
    width: 35%;
}

.About .div_img{
    width: 65%;
}

/* Start Projects */


.Projects .Project_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Projects .Project_box img{
    width: 45%;
}

.Projects .Project_box .text{
    margin-left: 100px;
    width: calc(50% - 100px);
}

.Projects .Project_box .text h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.Projects .Project_box .text h3 a{
    font-size: 40px;
    color: var(--white_color);
    transition: 0.5s;
}

.Projects .Project_box .text h3 a:hover{
    color: var(--main_color);
}

.Projects .Project_box .text p{
    margin: 30px 0 50px;
    line-height: 1.8;
}

.Projects .Project_box .text .link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    color: var(--black_color);
    font-size: 25px;
    background: var(--main_color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.Projects .Project_box .text .link:hover{
    scale: 1.2;
}

.Projects .Project_box.Project_box_2{
    flex-direction: row-reverse;
}

/* start Content */

.content .container{
    display: flex;
    justify-content: space-between;
}

.content .top_section{
    margin-bottom: 100px;
}

.content .social_content{
    width: 30%;
}

.content .social_content h2{
    color: var(--white_color);
    margin-bottom: 40px;
}

.content .social_content .links{
    display: flex;
    flex-direction: column;
}

.content .social_content .links a{
    color: var(--white_color);
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: 0.3s;
}

.content .social_content .links a i{
    color: var(--bg_color);
    margin-right: 8px;
    width: 45px;
    height: 45px;
    background: var(--main_color);
    text-align: center;
    line-height: 45px;
    border-radius: 8px;
}

.content .social_content .links a:hover{
    left: 15px;
}

.content form{
    width: 60%;
    text-align: center;
}

.content form .inpts_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content form .inpts_form input,
.content form .inpts_form textarea{
    border-radius: 8px;
    padding: 20px;
    outline: none;
    background-color: var(--bg_color);
    color: white;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    transition: 0.3s;
}

.content form .inpts_form input{
    width: 48%;
}

.content form .inpts_form textarea{
    width: 100%;
}

.content form .inpts_form input:focus,
.content form .inpts_form textarea:focus{
    border-color: var(--main_color);
}

.content .button{
    outline: none;
    padding: 15px 35px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.content .button{
    scale: 1.2;
}





/* start responsive */
.close_menu{
    display: none;
}
header .links .logo{
    display: none;
}
.icon_menu{
    display: none;
}

@media (max-width:1250px) {
    container{
        width: 90%;
    };
}

@media (max-width:1024px) {
    header nav .links{
        position: fixed;
        top: 0;
        flex-direction: column;
        width: 400px;
        background-color: var(--black_color);
        left: -400px;
        padding: 50px 0;
        height: 100%;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    header nav .links.active{
        left: 0;
    }
    .close_menu{
        display: block;
        font-size: 28px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    header .links .logo{
        display: block;
    }
    .icon_menu{
        display: block;
        font-size: 28px;
    }


/* responsive home */
.hero .div_Text h4{
    font-size: 25px;
}
.hero .div_Text h1{
    font-size: 50px;
}
.hero .div_Text h2{
    font-size: 50px;
}
.hero .div_Text p{
    font-size: 14px;
    margin: 30px auto;
}
.hero .btn{
    font-size: 18px;
    padding: 16px 48px;
}

.hero .container {
    flex-direction: column;
}
.hero .div_Text {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.hero .btns{
    justify-content: center;
}
.hero{
    height: auto;
}
.About .container{
    flex-direction: column;
}
.About .div_text{
    width: 100%;
    margin-bottom: 50px;
}
.About .div_img{
    width: 50%;
}

.Projects .Project_box .text h3 a{
    font-size: 25px;
}

.Projects .Project_box .text h4{
    font-size: 14px;
}
.Projects .Project_box .text p{
    font-size: 14px;
}
.Projects .Project_box .text {
    width: calc(50% - 50px);
    margin-left: 50px;
}

.content .container{
    flex-direction: column;
}
.content .social_content{
    width: 100%;
    margin-bottom: 40px;
}
.content .social_content .links{
    flex-direction: row;
    flex-wrap: wrap;
}

.content .social_content .links a{
    width: 50%;
}

.content .social_content .links a i{
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.content form{
    width: 80%;
    margin: 0 auto;
}





}

@media (max-width:500px){
    .btn{
        padding: 12px 25px;
        font-size: 13px;
    }
    .Projects .container .top_section h2{
        font-size: 25px;
        margin-bottom: 0 auto;
    }
    header nav .icons a{
        font-size: 17px;
    }
    header nav .icons{
        gap: 15px;
        align-items: center;
    }
    header nav .logo img{
        width: 150px;
    }
    header nav .links{
        width: 100%;
        left: -100%;
    }
   
    .icon_menu{
        margin-left: 15px;
    }

    .hero .div_Text h4{
        font-size: 22px;
    }
    .hero .div_Text h1{
        font-size: 40px;
    }
    .hero .div_Text h2{
        font-size: 30px;
    }
    .hero .div_Text p{
        font-size: 11px;
        margin: 25px auto;
    }
    .hero .btn{
        font-size: 15px;
        padding: 14px 28px;
    }

    .hero .div_img{
        width: 75%;
    }

    .About .div_text h2{
        font-size: 20px;
    }
    .About .div_text h4{
        font-size: 15px;
    }
    .About .div_text p{
        font-size: 10px;
    }
    .About .div_text ul li {
        width: 100%;
        font-size: 14px;
    }
    .About .div_img{
        width: 85%;
    }
    .About .container{
        text-align: center;
    }
    .Projects .Project_box{
        flex-direction: column;
    }

    .Projects .Project_box.Project_box_2{
        flex-direction: column;
    }

    .Projects .Project_box img{
        width: 100%;
        margin-bottom: 30px;
    }
    .Projects .Project_box .text{
        width: 100%;
        margin-left: 0px;

    }
    .Projects .Project_box .text p{
        margin: 20px 0 30px;
        font-size: 15px;
    }
    .Projects .Project_box .text h3 a{
        font-size: 20px;
    }

    .Projects{
        padding-bottom: 40px;
    }
    .content{
        padding-top: 0;
    }
    .content .top_section{
        margin-bottom: 60px;

    }
    .content form{
        width: 100%;
    }
    .content form .inpts_form input{
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 20px;
    }

    .content .social_content .links{
        flex-direction: column;
    }
    .content .social_content .links a{
        width: 100%;
    }
    .social_content .top_section h2{
        font-size: 2px;
    }














} 


















